---
CompileFlags:
  CompilationDatabase: build
---
If:
  PathMatch: (^|.*/)examples/kernels/.*\.(cu|cuh|h)$
CompileFlags:
  CompilationDatabase: None
  Compiler: clang++
  Remove:
    - -x*
    - -std=*
  Add:
    - -x
    - c++
    - -std=c++17
    - -include
    - clangd_cuda_compat.h
    - -I.
    - -Iexamples/kernels
